*{
    padding: 0;
    margin: 0;
    font-family:'Quicksand', sans-serif;
    color: #0e0b16;
}
header{
    height: 70px;
    background-color: #f2f2f2;
}
header h1{
    font-size: 20px;
    display: inline-block;
    float: left;
    padding: 15px 24px;
    text-transform: uppercase;
}
header h1 a{
    transition: 0.3s;
}
header h1 a:hover{
    color: red ;
}
header ul{
   
    float: right;
}
header ul li{
    
    padding: 24px;
    display: inline-block;
}
header ul li a{
    transition: 0.3s;
}
header ul li a :hover{
    color: red;
}
a{
    text-decoration: none;
}
.container{
    width: 90%;
    margin: 0 auto;
   
}
.container::after{
    content: '';
    display: block;
    clear: both;
}
.mobile-menu{
    float: right;
    display: none;
    padding: 18px;
   
}
.mobile-menu :hover{
    cursor: pointer;
}
#check{
    display: none;
}
.sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: -300px;
    width: 300px;
    background-color:  #4717f6;
    transition: 0.3s;
}
.sidebar ul li a{
    color: white;
}
.sidebar ul li {
    padding: 24px;
    transition:  0.3s;
    transition-property: background-color;
}
.sidebar ul li :hover{
    background-color: brown;
}
#check:checked ~ .sidebar{
    left: 0%;
}
.banner{
    background-color: #0e0b16;
    padding: 100px;

}
section{
    padding: 50px 0;
}
.banner img{
    width: 150px;
    border-radius: 14px;
    box-shadow: 0 5px 7px #ddd;
    margin-bottom: 10px;
    
}
.banner h2,
.banner p,
.banner span {
    color: white;
}

.banner h2 {
    margin-bottom: 10px;
}
.banner p {
    font-size: 18px;
}
.banner-left{
    padding-left: 24px;
}
section h3{
    padding-bottom: 20px;
    text-align: center;
    margin: 20px;
    position: relative;

}
section h3::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    width: 40px;
    height: 4px;
    background-color: black;
    left: calc(50% - 20px);
}
#about p {
    text-align: justify;
    text-indent: 30px;
    text-height: 25px;
    margin-bottom: 15px;
}
#skills,
#contact{
    background-color: #f2f2f2;
}
#skills .bar{
    height: 30px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 5px 0 20px 0;
}
.bar .nilai{
    height: 30px;
    background-color: #4717f6;
    display: inline-block;
    color: #ddd;
    text-align: center;
}
.html{
    width: 70%;
}
.css{
    width: 60%;
}
.js{
    width: 30%;
}
.col-4{
    width: 25%;
    box-sizing: border-box;
    padding: 5px;
    float: left;
    text-align: center;
}
.col-4 img{
    width: 100%;
}
.col-4 a:hover img{
    transform: scale(1.2);
}
.col-3{
    width: 33.33%;
    box-sizing: border-box;
    float: left;
    text-align: center;
    padding: 50px 10px;
}
.col-3 h4{
    padding-bottom: 10px;
    border-bottom: 1px maroon #0e0b16;
    margin-bottom: 15px;
}
footer{
    background-color: #333;
    padding: 30px;
    text-align: center;
}
footer small{
    color: #ddd;
}
html{
    scroll-behavior: smooth;
}
@media(max-width:768px){
    .mobile-menu{
        display: block;
    }
    header ul{
        display: none;
    }
    .col-4{
        width: 50%;
    }
    .col-3{
        width: 100%;
    }
}